<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center; margin-top: 50px;">
    <h1>ID Mahasiswa:</h1>
    <h2 style="font-size: 3em; color: blue;">{{ idMahasiswa }}</h2>
    <p>Di pertemuan berikutnya (Backend), ID ini akan dipakai untuk request data lengkap ke Database.</p>
  </div>
</ion-content>

